<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рабочая страница</title>
  <link rel="stylesheet" type="text/css" media="all" href="../../css/division.css" th:href="@{/css/division.css}">
</head>
<body>
  <div class="container"><h1 >Отдел кадров</h1></div>
  <div class="container">
      <table class="headline">
          <tr>
              <th class="names">Фамилия</th>
              <th class="names">Имя</th>
              <th class="names">Отчество</th>
              <th></th>
              <th></th>
          </tr>
          <tr th:each="employee : ${employees}">
              <td>
                  <p th:utext="${employee.family}">
              </td>
              <td>
                  <p th:utext="${employee.name}">
              </td>
              <td>
                  <p th:utext="${employee.patronymic}">
              </td>
          </tr>
      </table>
  </div>
</body>
</html>
