<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Настройки подразделения</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/settings.css" th:href="@{/css/settings.css}">
</head>
<body>
    <h1 class="header">Профиль подразделения</h1>

    <div class="container">

        <h2>Наименование подразделения</h2>
        <label><input placeholder="Введите название"></label>
        <h2>Максимальное количество сотрудников одновременно уходяших в отпуск</h2>
        <label><input type="number" value="0" step="1"></label>
        <br><br>
        <form method="post" action="save-settings">
            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
    <br>
    <div class="container">
        <h2 id="header">Состав подразделения</h2>
        <button>Добавить сотрудника</button>
        <br><br>
        <table>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td>
                    <p th:utext="${user.family}">
                </td>
                <td>
                    <p th:utext="${user.name}">
                </td>
                <td>
                    <p th:utext="${user.patronymic}">
                </td>
                <td><button>Редактировать</button></td>
                <td><button>Уволен</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
