<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Настройки подразделения</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/division.css" th:href="@{/css/division.css}">
</head>
<body>
    <div class="container"><br><h1 class="header">ПРОФИЛЬ ПОДРАЗДЕЛЕНИЯ</h1></div>

    <div class="container">
        <h2 class="headline">Наименование подразделения</h2>
        <label><input class="headline" placeholder="Введите название"></label>

        <h2 class="headline">Максимальное количество сотрудников одновременно уходящих в отпуск</h2>
        <label><input class="headline" type="number" value="0" step="1"></label>
        <br><br>
        <form method="post" action="save-settings">
            <button type="submit">Сохранить изменения</button>
        </form>
    </div>
    <br>
    <div class="container">
        <h2 class="headline">Состав подразделения</h2>
        <button id="addBtn">Добавить сотрудника</button>
        <table class="headline">
            <tr>
                <th class="names">Фамилия</th>
                <th class="names">Имя</th>
                <th class="names">Отчество</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td>
                    <p th:utext="${employee.family}">
                </td>
                <td>
                    <p th:utext="${employee.name}">
                </td>
                <td>
                    <p th:utext="${employee.patronymic}">
                </td>
                <td><button class="employeeBtn">Редактировать</button></td>
                <td><button class="employeeBtn">Уволен</button></td>
            </tr>
        </table>
    </div>
</body>
</html>
