html    {
    background-color: aqua;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    color: darkred;
}

.header {
    font-size: 12px;
    color: red;
    background-color: black;
}
